

<div class="container">
{% if id is defined%}
{{form_start(formNews,{'attr':{'action':path('edit',{'id':id})}})}}
{% else%}
    {{form_start(formNews,{'attr':{'action':path('valid')}})}}
  {% endif%}
        {# ici on afiche tous les champs qui restent a afficher #}
        {{form_rest(formNews)}}
        {# en gros on ferme la balise form #}
        {{form_end(formNews)}}
    </div>
